.header-content {
  width: 100%;
  height: 200px;
}
.header-element img {
  width: 100px;
  height: 65px;
}

.header-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: white;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}

.navbar ul li a:hover {
  color: rgb(26, 230, 15);
  transition: 0.5s;
}

.navbar ul li a:hover::after {
  content: '';
  background: rgb(26, 230, 15);
  width: 30%;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.mobile {
  display: none;
}

.mobile i {
  color: white;
  align-items: center;
}

/* Hide menu items on small screens */


@media screen and (max-width: 770px) {
  .mobile {
    display: flex;
  }
  .navbar ul li {
    display: none;
  }
  .mobile .hamburger-menu, .close {
    cursor: pointer;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 135px;
  }


.navbar .mobile-menu li {
  display: block;
}
}


ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  margin-top: 17px;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
}
ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 30px;
  border-style: none;
}
ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}
ul li ul li a { 
  transition: all 0.5s ease; 
}



/* Responsive design - make the dropdown menu appear horizontally instead of vertically on small screens */
@media screen and (max-width: 770px) {
  ul li  {
    position: relative;
    display: flex;
  }

  ul li ul{
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* Add a fade-in animation to the dropdown menu */

ul li ul li{
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

