.fullbody {
    padding-top: 20px;
    display: block;
}

.chest-focus, .back-focus, .legs-focus {
    border: 5px solid black;
    display: flex;
    width: 75%;
}
img {
    width: 50%;
}
.c-routine, .b-routine, .l-routine {
    width: 50%;
    align-items: center;
    text-align: center;
    align-content: center;
    padding-left: 50px;
    margin: 0 auto;
    margin-top: 100px;
}






.card1, .card2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin-top:200px;
    width: 45rem;
    height: 20rem;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 100px;
}

.card1 img {

    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 50%;
}
.card1 p, .card2 p {
    position: absolute;
    top: 0;
    right: -100%;
    width: 50%;
    padding: 50px;
    background-color: #020c1b;
    color: white;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
  .card1:hover img, .card2:hover img {
    transform: translateX(-50%);
  }
  .card1:hover p, .card2:hover p {
    right: 0;
    opacity: 1;
    background-color: #020c1b;
    color: white;
  }

  .card2 img {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 55%;
    height: 300px;
}
 
.btn {
    width: 30%;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    

}